@using TYP.Service.DTOs.TeacherDTOs;
@model TeacherGetAllDTO
@{
    ViewData["Title"] = "Index";
}

<div class="col-lg-12">
    <div class="card mb-4">

        <div class="card-body">
            <h3>Halls</h3>
            <a class="btn btn-success mb-3" asp-controller="Teacher" asp-action="Create">Create</a>

            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                    
                            <th scope="col">Name</th>
                            <th scope="col">Surname</th>
                            <th scope="col">JobType</th>
                            <th scope="col">Scientific Name</th>
                            <th scope="col">Department</th>
                            <th scope="col">Sex</th>
                            <th scope="col">BirthDate</th>
                            <th scope="col">Scientific Degree</th>
                           
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Teachers)
                        {
                        <tr>
                           
                            <td>@item.Name</td>
                            <td>@item.Surname</td>
                            <td>@item.JobType</td>
                            <td>@item.ScientificName</td>
                            <td>@item.Department</td>
                            <td>@item.Sex</td>
                            <td>@String.Format("{0:MMM d, yyyy}", item.BirthDate)</td>
                            <td>@item.ScientificDegree</td>
                         
                            <td>
                                <a class="btn btn-warning" asp-controller="TeacherPredmet" asp-action="Index" asp-route-id="@item.Id" >Sorgu</a>
                                <a class="btn btn-warning" asp-controller="Teacher" asp-action="Update" asp-route-id="@item.Id" >Update</a>
                                <a class="btn btn-danger delete-item" asp-controller="Teacher" asp-action="Delete" asp-route-id="@item.Id"  >Delete</a>
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>
    </div>
 </div>

 @section Scripts{
     <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <script>
        $(document).ready(function () {
            $(".delete-item").click(function (ev) {
                ev.preventDefault();
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        let link = $(this).attr("href")
                        fetch(link).then(response => response.json()).then(data => {
                            if (data.status == 200) {
                                Swal.fire(
                                    'Deleted!',
                                    'Your file has been deleted.',
                                    'success'
                                )
                                setTimeout(() =>
                                { location.reload(true) }, 1000);
                            }
                            else {
                                Swal.fire(
                                    'Error!',
                                    'Your file not Found.',
                                    'Failed'
                                )
                            }
                        })
                     
                    }
                })
            })
        })
    </script>
 } 